CompetitionScores_YMCA_Super_Skipper_Judge_Training_2025-01-18_16-54-42.tsv.xlsx
CompetitionScores_YMCA_Super_Skipper_Judge_Training_2025-01-18_17-12-05.tsv.xlsx
entries.csv
entriesF.csv
entriesY.csv
FCompetitionScores_Fast_Feet_and_Freestyle_Faceoff_2025-01-18_20-04-25.tsv.xlsx
output.csv
output.csv
output.xlsx
outputb.xlsx
sample.xlsx
ZCompetitionScores_Zero_Hour_2025_2025-01-18_20-04-06.tsv-analysis.xlsx
analyze_scores.exe
*.csv
*.xlsx
*.tsv
dist/
build/
*.exe
*.spec
*.log
*.zip
